.content{
    width:357px;
    position:absolute;
    top: 46px;
    left: 179px;
    background:rgba(255,255,255,0.5);
    padding-top: 20px;
    height: 345px;
}
body{background:#cecece url(../image/login-bg.jpg) 50% 0 no-repeat;font-family: noto, microsoft yahei, 微软雅黑, Arial;}
*{font-family: noto, microsoft yahei, 微软雅黑, Arial;}
.max_div{position:relative;height:439px;}
form{width:300px;margin:0 auto;}
form div{width:300px;height:37px;border-bottom: 1px solid #ddd;line-height:37px;margin-bottom: 15px;}
form input{
    width: 245px;
    height: 35px;
    margin-right: 1%;
    font-size: 16px;
    border-radius: 3px;
    outline: none;
}
form i{display: inline-block; vertical-align: middle;}
.iphone_ico{
    margin-top: -7px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    background: url(../image/log-reg.png) -40px -1px no-repeat;}
.psw_ico{width: 20px;
    height: 24px;
    margin-top: -11px;
    margin-right: 13px;
    background: url(../image/log-reg.png) -63px -1px no-repeat;}
form P input{width:15px;height: 15px;
    vertical-align: middle;margin-top: -3px;margin-left:15px;}
p a{margin-left:13px;color:#f63c30;}
.btn input{color: #fff;
    width:100%;background: #f63c30;
    font-size: 18px;
    height: 48px;
    text-align: center;
    border-radius: 2px;
}



